// $mobile: 0px; //xs
// $tablet: 768px; //md
// $laptop: 1024px; //lg
// $desktop: 1440px; //xl

// @mixin xs() {
//   @media only screen and (min-width: $mobile) and (max-width: #{$tablet - 1}) {
//     @content;
//   }
// }

@mixin sm() {
  @media only screen and (max-width: $mobile) {
    @content;
  }
}

// @mixin md() {
//   @media only screen and (min-width: $tablet) and (max-width: #{$laptop - 1}) {
//     @content;
//   }
// }
// @mixin lg() {
//   @media only screen and (min-width: $laptop) and (max-width: #{$desktop - 1}) {
//     @content;
//   }
// }
// @mixin xl() {
//   @media only screen and (min-width: $desktop) {
//     @content;
//   }
// }

.hero {
  max-height: 720px;

  @mixin lg() {
    @media only screen and (min-width: $laptop) and (max-width: #{$desktop - 1}) {
    }
  }
  @mixin xl() {
    @media only screen and (min-width: $desktop) {
    }
  }
}

.heroBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.heroBackground img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @mixin lg() {
    @media only screen and (min-width: $laptop) and (max-width: #{$desktop - 1}) {
      // object-fit: cover;
    }
  }
  @mixin xl() {
    @media only screen and (min-width: $desktop) {
    }
  }
}

.heroContent {
  text-align: left;
  width: 90%;
  max-width: 900px;
  height: auto;
  position: absolute;
  bottom: 5%;
  left: 5%;
  padding: 20px;
  background-color: transparent;
  font-family: "Bebas Neue", sans-serif;
  color: #fff;

  @include sm() {
    transform: translateX(-50%);
    padding: 10px;
  }
}

.heroTitle {
  font-size: 3em;
  font-weight: bold;
  // color: #000;
  margin-bottom: 20px;
}

.heroTrama {
  font-size: 16px;
  // color: #000;
  margin-bottom: 20px;
}

.heroGeneral {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.heroGeneral p span {
  display: inline;
  margin: 0 10px 10px 0;
  padding: 5px;
}

.heroRatingIcon {
  display: flex;
  align-items: center;
  color: #f1c40f;
  margin-bottom: 10px;
}

.heroRating svg {
  margin-right: 5px;
}

.heroPlayContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  @include xs() {
    flex-direction: column;
  }
}

.heroPlay {
  width: 100%;
  max-width: 160px;
  background-color: #1e57ff;
  color: #e0e4ed;
  padding: 12px 20px;
  border: 1px solid #1e57ff;
  border-radius: 8px;
  font-size: 16px;
  margin-right: 20px;
  font-family: "Bebas Neue", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    opacity: 1;
    background-color: #063ad5;
    border: 1px solid #063ad5;
    color: #fff;
  }

  @include xs() {
    margin-right: 10px;
  }
}

.heroPlayIcon {
  display: inline;
  margin-right: 5px;
}

.heroTrailer {
  width: 100%;
  max-width: 160px;
  background-color: #323844;
  color: #e0e4ed;
  padding: 12px 20px;
  border: 1px solid #323844;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Bebas Neue", sans-serif;
  cursor: pointer;
  align-self: center;
  transition: background-color 0.3s;

  &:hover {
    opacity: 1;
    background-color: #444;
    border: 1px solid #444;
    color: #fff;
  }

  @include xs() {
    margin-bottom: 20px;
  }
}
