.hero {
  position: relative;
  max-height: 720px;

  @include xxl {
    height: calc(100dvh - 70px);
    max-height: 1440px;
  }

  .nextBtn {
    z-index: 9;
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
  }

  .prevBtn {
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 10px;
    cursor: pointer;
    background: none;
    border: none;
  }

  .nextBtn svg,
  .prevBtn svg {
    fill: $color-secondary;
    width: 40px;
    height: 40px;
  }

  .next {
    transition: all 1s ease-in-out;
  }

  .heroBackground {
    @include flexbox-hrz(10px);
    justify-content: center;
    max-height: 720px;

    @include xxl {
      max-height: 100%;
      height: 100%;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.1) 15%,
        rgba(0, 0, 0, 0) 35%,
        rgba(27, 35, 48, 0.4) 55%,
        rgba(27, 35, 48, 0.7) 75%,
        rgba(27, 35, 48, 1) 95%
      );
      z-index: 1;
    }
  }

  .heroBackground img {
    min-width: 100%;
    max-height: 720px;
    object-fit: cover;
    transition: all 1s ease-in-out;

    @include xxl {
      max-height: 100%;
      height: 100%;
    }
  }

  .heroContent {
    text-align: left;
    max-width: 40%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 9;

    @include xxl {
      top: 60%;
    }
  }

  @include xs() {
    flex-direction: column;

    .heroContent {
      .heroTrama,
      .heroDate {
        display: none;
      }
      min-width: 300px;
      max-width: 300px;
      font-size: $par-md;
      left: 50%;
      transform: translateX(-50%);
      @include flexbox-vrt(0);

      .heroGeneral {
        margin-bottom: 10px;

        .votes,
        span {
          font-size: $par-xs;
        }
      }

      .heroTitle {
        font-size: 1.5em;
        text-shadow: 2px 2px 3px black;
        text-align: center;
        margin: 0;
      }

      .heroSeeMore {
        padding: 8px 13px;
        font-size: 12px;
      }
    }
  }

  @include md() {
    .heroContent {
      min-width: 600px;
      max-width: 600px;
      font-size: $par-md;

      .heroTrama,
      .heroDate {
        display: none;
      }
    }
  }

  .heroTitle {
    @include flexbox-hrz(0);
    justify-content: flex-start;
    min-height: 4rem;
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px black;

    @include md() {
      font-size: 2.2em;
    }
  }

  .heroTrama {
    margin-bottom: 20px;
  }

  .heroGeneral {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
  }

  .heroGeneral p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .heroRatingIcon {
    @include flexbox-hrz(0);
  }

  .heroRating svg {
    fill: $color-star;
    scale: 1.2;
  }

  .heroSeeMore {
    width: 100%;
    max-width: 200px;
    @include flexbox-hrz(10px);
    background-color: #1e57ff;
    color: #e0e4ed;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;

    &:hover {
      opacity: 1;
      background-color: #063ad5;
      color: $color-secondary;
    }

    &:active {
      box-shadow: 0px 0px 10px $color-primary-light;
      scale: 0.99;
    }
  }

  .heroPlayContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
