.mainContainer {
  padding: $padding-gen;

  h1 {
    @extend %mainTitle;
    text-align: center;
    margin-top: 20px;
  }

  .cardsContainer {
    @include flexColumn(20px);
    margin: 5% 2%;
    padding: 3%;
    border-radius: 20px;
    background-color: $color-primary-light;

    img {
      border-radius: 15px;
    }

    .cardsInfo {
      @include flexbox-hrz(10px);
      overflow-x: auto;
      scroll-snap-type: x mandatory;

      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
        margin: 0px 12px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $color-primary;
        border-radius: 4px;
        padding: 0px 10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $color-secondary;
      }

      @include xs() {
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .adminsContainer {
      @include flexbox-vrt(20px);
      position: relative;
      height: 100%;
      align-items: flex-start;
      width: 100%;
      padding-bottom: 3%;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 25%;
        height: 2px;
        border-bottom: solid $color-secondary-light 3px;
        border-radius: 20%;

        @include xs() {
          display: none;
        }
      }

      .user {
        @include flexbox-hrz(20px);
        width: 100%;

        span {
          font-size: 40px;

          @include xs() {
            font-size: 20px;
          }
        }

        img {
          width: 100px;
          height: 100px;
          border-radius: 100%;

          @include xs() {
            width: 70px;
            height: 70px;
          }
        }
      }
    }

    .profiles {
      @include flexbox-hrz(50px);
      width: 100%;

      svg {
        font-size: 3rem;
        cursor: pointer;

        &:hover {
          transition: transform 0.35s ease-in-out;
          transform: scale(1.2);
        }

        @include xs() {
          font-size: 2rem;
        }
      }
    }

    .listTitle {
      font-size: $subtitle;

      @include xs() {
        text-align: center;
      }
    }
  }
}

.credits {
  width: 100%;
  @include flexbox-hrz(10px);
  padding: $par-sm;

  .logo {
    svg {
      height: $base-text;
    }
  }
}
