@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: $base-text;
  font-family: "Inter", sans-serif;
  color: $color-secondary;
  scroll-behavior: smooth;
}

body {
  background-color: $color-primary;
  scroll-behavior: smooth;

  h1,
  h2,
  h3,
  h4 {
    font-weight: 500;
  }
}

li {
  list-style-type: none;
}
