.categoryList {
  @include flexColumn(20px);
  margin: 20px 0;

  h2 {
    @extend %title;
    padding: 0 12px;
    font-weight: 600;
  }

  .wrapper {
    @include flexbox-hrz(10px);
    margin-top: 10px;
    flex-wrap: wrap;
    padding: $padding-gen;

      &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-primary-light;
    border-radius: 4px;
    padding: 0px 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-primary-light;
  }

    @include xs {
      flex-wrap: nowrap;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      padding: 20px $padding-gen;
      margin-left: 12px;
    }
  }
}


