.categoryList {
  @include flexColumn(20px);
  margin: 20px 0;

  h2 {
    @extend %title;
    padding: 0 12px;
    font-weight: 600;
  }

  .wrapper {
    @include flexbox-hrz(10px);
    margin-top: 10px;
    flex-wrap: wrap;
    padding: $padding-gen;

    @include xs {
      flex-wrap: nowrap;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      padding: 20px $padding-gen;
      margin-left: 12px;
    }
  }
}


