.noScroll {
  overflow: hidden;
}

.container {
  //general
  h2 {
    text-align: center;
    @extend %title;
    font-weight: 500;
  }
  .Movie {
    .TrailerContainer {
      position: absolute;
      top: 0;
      background-color: rgba(0, 0, 0, 0.409);
      width: 100%;
      height: 100vh;
      z-index: 999;

      .closeBtn {
        width: 50px;
        height: 50px;
        @extend %center-content;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 999;
        cursor: pointer;

        @include xs() {
          background-color: rgba(0, 0, 0, 0.447);
          border-radius: $border-radius-3;
        }

        @include md {
          top: 10px;
          right: 10px;
        }
      }
    }

    //hero
    .mainContent {
      position: relative;

      h1 {
        @extend %title;
        position: absolute;
        left: 30px;
        bottom: 100px;
        z-index: 9;

        @include xs() {
          font-size: $subtitle;
        }
      }

      p {
        position: absolute;
        left: 40px;
        bottom: 80px;
        z-index: 9;
      }

      .imgFull {
        width: 100%;
      }

      .imgPoster {
        position: absolute;
        right: 5%;
        top: 45%;
        width: 185px;
        z-index: 9;
        box-shadow: $elevation-medium;

        @include xs() {
          display: none;
        }

        @include md() {
          display: none;
        }

        @include lg() {
          top: 20%;
          right: 3%;
        }
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 1;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(27, 35, 48, 0.4) 50%,
          rgba(27, 35, 48, 0.7) 60%,
          rgba(27, 35, 48, 1) 95%
        );
        z-index: 1;
      }

      //button watch trailer
      .watchTrailer {
        position: absolute;
        right: 20px;
        bottom: 100px;
        @include flexbox-hrz(2px);
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 50px;
        background-color: #1e57ff;
        border-radius: $border-radius-3;
        z-index: 10;
        border: none;
        text-align: center;
        cursor: pointer;

        &:hover {
          box-shadow: $elevation-medium;
        }

        @include xs() {
          left: 40px;
          bottom: 20px;
          padding: $padding-md;
          width: fit-content;
        }

        @include md() {
          left: 40px;
          bottom: 20px;
          padding: $padding-md;
          width: fit-content;
        }
      }

      //end button watch trailer

      @include xs() {
        margin-top: 70px;
      }
    }
    //end hero

    //movie info
    .movieInfoContainer {
      @include flexbox-hrz-space-between();
      align-items: center;
      padding: $padding-md;

      p {
        @include flexbox-hrz(10px);
      }

      .movieRatingIcon {
        @include flexbox-hrz(0);
      }

      .movieRatingIcon svg {
        fill: $color-star;
        scale: 1.2;
      }

      @include xs() {
        @include flexbox-hrz(10px);
        flex-wrap: wrap;
      }

      .movieInteractions,
      .movieGeneral {
        @include flexbox-hrz(10px);
      }

      //movie interactions
      .movieInteractions svg {
        margin: 0 10px;
        width: 20px;
        height: auto;
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
          border-radius: 2px;
          padding: 2%;
          background-color: #4242429c;
        }
      }
    }
    //end movie interactions
  }
  //movie info
  .dataContainer {
    border-radius: 20px;

    @include xs() {
      padding: 0;
      margin: 20px;
    }

    .movieDescription {
      @include flexbox-hrz(30%);
      padding: $padding-md;
      margin: 20px 0;
    }

    .overview {
      padding: $padding-md;
      text-align: center;

      p {
        margin: 0 20%;

        @include xs() {
          margin: 0 10px;
        }
      }
    }
  }
  //end info

  //people
  .peopleContainer {
    @include flexColumn(3px);
    overflow-x: auto;

    .people {
      @include flexbox-hrz(20px);
      padding: 4%;
      scroll-snap-type: x mandatory;

      @include xs() {
        @include flexbox-hrz(10px);
      }

      .card {
        @include flexColumn(3px);
        justify-content: center;
        align-items: center;
        text-align: center;
        min-width: 200px;
        height: 200px;
        scroll-snap-align: start;

        .movieImg {
          width: 100px;
          height: 100px;
          border-radius: 100%;

          img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            object-position: 50% 50%;
            border-radius: 100%;
          }
        }

        .cardInfo {
          height: calc(100% - 80px);
          @include flexColumn(1px);
          justify-content: center;
        }
      }
    }
  }

  // end people

  //backdrops
  .backdropsContainer {
    margin: 30px 0;

    .backdrops {
      @include flexbox-hrz(20px);
      overflow-x: scroll;
      padding: $padding-md;
      scroll-snap-type: x mandatory;
      margin-left: 15px;

      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-track {
        margin: 0px 12px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $color-primary-light;
        border-radius: 4px;
        padding: 0px 10px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $color-primary-light;
      }

      img {
        border-radius: 10px;
        scroll-snap-align: start;
      }
    }
  }
  // end backdrops

  //similar movies
  .similarMovies {
    @include flexbox-hrz(10px);
    max-height: 250px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-left: 15px;

    div {
      h3 {
        min-height: 50px;
      }

      img {
        height: 130px;
        scroll-snap-align: start;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    .noTitle {
      display: none;
    }

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      margin: 0px 12px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $color-primary-light;
      border-radius: 4px;
      padding: 0px 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $color-primary-light;
    }
  }
}
