.searchedMovie {
  margin-top: 70px;

  .searchResult {
    @include flexbox-hrz(30px);
    justify-content: center;
    flex-wrap: wrap;
    padding: 2%;
  }

  .searchTitle {
    margin: 2% 30%;
    border-radius: 20px;
    background-color: $color-secondary;
    color: $color-primary;
    font-size: $title;
    text-align: center;
    box-shadow: $elevation-medium;
  }

  .noResults {
    width: 100%;
    height: 100dvh;
    @include flexColumn(10px);
    align-items: center;
    text-align: center;

    .backToHome {
      @include button(20px, #1e57ff);
      padding: 20px;
      margin: 10px 30%;
    }
  }
}
