.Cards {
  @include flexbox-hrz(20px);
  padding: $padding-md;
  transition: all 0.35ms ease-in-out;
  overflow-x: scroll;
  height: 220px;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin: 0px 12px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-primary-light;
    border-radius: 4px;
    padding: 0px 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-primary-light;
  }
}

/* width */

/* Track */

// ::-webkit-scrollbar-button
// ::-webkit-scrollbar-thumb
// ::-webkit-scrollbar-track
// ::-webkit-scrollbar-track-piece
// ::-webkit-scrollbar-corner
// ::-webkit-resizer
