.Card{
    @include dimensions(300px, 169px, 0);
    transition: all 0.25s ease-in-out;
    // border: 1px solid;
    overflow: hidden;
    border-radius: 8px;
    background-color: var($color-primary);
    margin: 100px auto;
    color: white;
    cursor: pointer;
    
 
    &:hover{
        overflow: visible;
        transform: scale(1.14);

        .bgImage{
            border-radius: 8px 8px 0px 0px ;
            }
            
            .bgCard{
                border-radius: 8px 8px 0px 0px;
            }
        
            // .black{
            //     right: -100%;
                
            // }


            .black_parag{
                transform: translateX(100%);
            }

            
    }
   
    .bgCard{
        @include dimensions(100%,169px, 0);
        overflow: hidden;
        position: relative;
        border-radius: 8px;
        
    }

    .bgImage{
        border-radius: 8px;
        }


    .black{
        @include dimensions(100%, 100%, 0);
        position: absolute;
        bottom: 0px; 
        right: 0px;
        padding: 5px 10px;
        // background-color: rgba(0, 0, 0, 0.676);
        border-radius: 8px 0px 0px 0px;
        transition: all 0.35s ease-in-out;
        
        background: linear-gradient(359deg, rgba(0,0,0,1) 1%, rgba(255,255,255,0) 43%);
    

        &_parag{
            @include dimensions(100%, 100%, 5px 10px);
            display: flex;
            align-items: end;
            justify-content: end;
            transition: all 0.35s ease-in-out;
        }
    
    }

    .text{
        background-color: $color-primary;
        border-radius: 0px 0px  8px 8px;
        padding: $padding-card;
        @include flexColumn(10px);

        .card_title{
            @include flexbox-hrz-space-between();
        }

        .info{
            @include flexbox-hrz(15px);
        }
        
    }


   


    
      
 
}



