.Navbar {
  @include flexbox-hrz-space-between();
  width: 100%;
  padding: 5px 15px;
  background-color: transparent;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 200;

  .full_logo {
    @include flexCenter(10px);
    cursor: pointer;

    span {
      color: $color-action;
      font-size: $logo;
      font-weight: 700;
      display: flex;
    }

    .logo {
      width: $logo;
      height: $logo;
      @include flexCenter(0);
    }
  }

  li {
    list-style-type: none;
  }

  form {
    
    height: 40px;
    background-color: $color-primary-transparent;
    border: 2px solid $color-secondary-light;
    
    border-radius: 4px;

    @include flexbox-hrz(20px);

    svg {
      margin-left: 10px;
      fill: $color-secondary-light;
      scale: 1.2;
    }

    input {
      display: flex;
    align-items: center;
      width: 300px;
      height: 100%;
      background-color: transparent;
      border: none;
      color: $color-secondary;
      outline: none;
    }
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $color-secondary-light;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $color-secondary-light;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $color-secondary-light;
    }
  }


 .button{
  @include flexAlignCenter(15px);
  p{
    font-size: $subtitle;

    text-transform: uppercase;
    font-weight: 500;
  }
   .user {
    scale: 2.7;
    @include flexCenter(0);
    margin-right: 10px;
    background-color: $color-primary-clair;
    border-radius: 50%;
    
  }
 }

  .welcome {
    @include flexbox-hrz(10px);
    align-items: baseline;
    user-select: none;
    .loggedUser {
      color: $color-secondary;
      cursor: pointer;
      @include flexbox-hrz-space-between();
      gap: 10px;
      &:hover p::before,
      &:active p::before {
        width: 100%;
      }

      p {
        position: relative;
        font-size: 18px;
        text-transform: uppercase;

        &::before {
          content: "";
          position: absolute;
          height: 2px;
          width: 0;
          background-color: $color-secondary;
          bottom: -1px;
          border-radius: 2px;
          transition: width 0.35s ease-in-out;
        }
      }

      .loggedUser__img {
        height: 38px;
        width: 38px;
        border-radius: 50%;
      }
    }
  }


  @mixin md() {
    padding: 10px;
    justify-content: space-around;
    background-color: $color-primary;
    backdrop-filter: blur(5px);
   


    .welcome_p {
      display: none;
    }


    .full_logo {
      span {
        display: none;
        .logo {
          scale: 0.9;
          @include flexCenter(0);
        }
      }
    }

  }






  @include xs() {
    padding: 10px 20px;
   
    background-color: #1b2330c0;
    backdrop-filter: blur(5px);
    
    

    .welcome_p {
      display: none;
    }

    .full_logo {
      span {
        display: none;
      }

        .logo {
          scale: 0.9;
          @include flexCenter(0);
        }
    }

  
    form{
      input{
        width: 160px;
      }
    }

 

  }
}
