.Navbar {
  @include flexbox-hrz-space-between();
  width: 100%;
  height: 70px;
  padding: 20px;
  background-color: transparent;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  z-index: 200;

  .logoFull {
    cursor: pointer;
  }

  .logoImg {
    display: none;
  }

  li {
    list-style-type: none;
  }

  form {
    height: 40px;
    border: 2px solid $color-secondary-light;
    border-radius: 16px;
    @include flexbox-hrz(20px);

    svg {
      margin-left: 10px;
      fill: $color-secondary-light;
      scale: 1.2;
    }

    input {
      width: 300px;
      height: 30px;
      background-color: transparent;
      border: none;
      color: $color-secondary;
      outline: none;
    }
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $color-secondary-light;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $color-secondary-light;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $color-secondary-light;
    }
  }

  button {
    @include button(10px, $color-primary);
    padding: 10px;
    height: 40px;
    width: 100px;
    border-radius: 12px;
    text-transform: uppercase;
    border: 1px solid $color-secondary;

    &:hover {
      box-shadow: $elevation-small;
    }

    &:active {
      scale: 0.99;
      color: $color-primary;
      background-color: $color-secondary;
    }
  }

  .loggedUser {
    color: $color-secondary;
    cursor: pointer;

    @include flexbox-hrz-space-between();
    gap: 10px;
    .loggedUser__img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }

  @include xs() {
    input {
      max-width: 120px;
    }

    .logoImg {
      display: flex;
    }

    .logoFull {
      display: none;
    }

    button {
      max-width: 100px;
      height: 50px;
    }
  }
}
