$color-primary: #1b2330;
$color-secondary: #e0e4ed;
$color-primary-light: #323844;
$color-action: #1e57ff;
$color-action-active: #638aff;
$color-action-hover: #2850c9;
$color-heart: rgb(194, 0, 0);

$color-heart-hover: rgb(255, 47, 47);
$color-navbar: #5f6174;
$color-star: #f1c40f;

